body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blanchedalmond;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.add-to-do,
.manageList {
  text-align: center;
  float: left;
  width: 50%;
}
.item-edit > input {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.add-item-form > input {
  width: 50%;
}
.add-item-form > button {
  width: 50%;
}
li {
  list-style: none;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid;
  border-bottom: 0px;
  padding: 10px;
  word-wrap: break-word;
  background-color: #fff;
}
li:last-child {
  border: 1px solid;
}
li:hover {
  background-color: #d9534f;
  color: white;
  border-top: 1px solid #d43f3a;
  border-left: 1px solid #d43f3a;
  border-right: 1px solid #d43f3a;
}
.add-to-do > ul {
  padding-left: 0px;
}
.item-button {
  display: inline;
}
